* {
    border: 2px solid black;
}

body {
    width: 100vw;
    height: 100vh;
}

#gameboard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#playerTab {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.playerButton {
    max-width: fit-content;
    max-height: fit-content;
    padding: 15px;
    border-radius: 10px;
}